<html>
    <head>
        <title>脚手架-ES2019从入门到精通</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <%- body %>
        <!-- <script src="./index.min.js" charset="utf-8"></script> -->
        <script src="./JavaScript/constructor.js" charset="utf-8"></script>
        <script src="./2.js" charset="utf-8"></script>
        <script>
            console.log(fn.constructor === Foo)
        </script>
    </body>
</html>